[user]
	name = Maxime Le Conte des Floris
	email = git@mlcdf.fr

[alias]
	s = status -s
	aa = add --all
	ci = commit
	co = checkout
	cr = cherry-pick

	undo = reset --soft HEAD~
	prune = fetch --prune

	# Amend the curently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD

	filelog = log -u
	logtree = log --graph --oneline --decorate --all

	changelog = log --pretty=\"- %h %s\" -l 2 -n12

	# Show verbose output about tags, branches or remotes
	# borrowed from jessfraz's dotfiles
	tags = tag -l
	branches = branch -a
	remotes = remote -v

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[merge]
	ff = only

[color]
	branch = auto
	diff = auto
	status = auto

[core]
	excludesfile = ~/.gitignore
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

# correct typos
[help]
	autocorrect = 1

# https://stackoverflow.com/a/23918418/89484
[push]
	default = current
	followTags = true

[pull]
	ff = only
	default = current

[checkout]
	defaultRemote = origin

[status]
	showUntrackedFiles = all

[include]
  path = ~/.gitconfig.local

[fetch]
	prune = true
