[alias]
	aa = add --all
	cl = clone
	ci = commit
	co = checkout
	cr = cherry-pick
	br = branch
	sb = status -sb
	back = reset --soft HEAD~
	abort = checkout .
	filelog = log -u
	logtree = log --graph --oneline --decorate --all
	# list the file in the previous commit
	fipc = diff-tree --no-commit-id --name-only -r HEAD

[color]
	branch = auto
	diff = auto
	status = auto
	ui = true

[commit]
	gpgsign = true

[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes

[github]
	user = mlcdf

# correct typos
[help]
	autocorrect = 1

[push]
	default = current

# rewrites of repo paths
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
	insteadOf = "github:"

[user]
	name = Maxime Le Conte des Floris
	email = maxime.lcdf@gmail.com
	signingkey = EF94DD95

[gpg]
	program = gpg2
