"*":
  "atom-ternjs":
    useSnippets: true
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "whitespace"
      "linter-eslint"
    ]
    projectHome: "~/Code"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "gloom"
    ]
  editor:
    fontFamily: "Inconsolata, Fira, Cousine, Ubuntu Mono"
    fontSize: 24
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "git-plus":
    general:
      analytics: false
      splitPane: "Right"
  linter: {}
  "linter-eslint":
    fixOnSave: true
    globalNodePath: "/home/max/.nvm/versions/node/v6.9.2"
    useGlobalEslint: true
  "linter-xo":
    fixOnSave: true
