pi {
	tls internal

	route {
		root * /home/pi/public_html
		file_server {
			hide .git
		}
	}

	# Transmission

	route /torrents/* {
		uri strip_prefix /torrents
		root * /var/lib/transmission-daemon/downloads/
		file_server browse
	}

	route /transmission/* {
		reverse_proxy * localhost:9091
	}

	redir /transmission /transmission/web/
	redir /transmission/ /transmission/web/
}
